doctype
html
  head
    title Match Tracking
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet", href="vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    base(href="/")

  body(ng-app='app')
    include currentUser
    block main-content
    include scripts
